.message {
  padding: 20px;
  text-align: left;
  border: 1px solid;
  color: #333;
  position: relative;
  border-radius: 4px;
  margin-bottom: 8px;
}

.message.info {
  background: lightblue;
  border-color: darkblue;
}

.message--button--info {
  border-color: darkblue;
  color: darkblue;
}

.message.warn {
  background: lightgoldenrodyellow;
  border-color: darkorange
}

.message--button--warn {
  border-color: darkorange;
  color: darkorange;
}

.message.error {
  background: lightpink;
  border-color: darkred;
}

.message--button--error {
  border-color: darkred;
  color: darkred;
}

.message--pre {
  font-size: 14px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message--button {
  position: absolute;
  top: 4px;
  right: 4px;
}