.dateChooser--label {
  display: block;
  padding: 8px 16px;
  min-width: 200px;
}

.dateChooser--label:hover {
  background: #efefef;
}

.dateChooser--legend {
  font-weight: 600;
  color: #666;
  margin-left: 8px;
  padding: 0 8px;
}

.dateChooser--fieldset {
  border: 1px solid #CDCDCD;
  background: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 8px 0;
}