.appHeader {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

.app--logo {
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -1px;
  color: #666;
}

.app--nav > li {
  display: inline-block;
  margin-right: 4px;
}

.app--nav > li > a {
  text-decoration: none;
  display: block;
  border: 1px solid rgb(185, 205, 185);
  border-bottom-width: 0;
  background: #fff;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.app--nav > li > a:focus,
.app--nav > li > a:hover {
  background: rgb(185, 205, 185);
  color: #fff;
}

.app--menuBar {
  display: flex;
  padding: 4px 0;
  background: rgb(185, 205, 185);
  justify-content: space-evenly;
  margin-bottom: 12px;
}

.app--verticalSplit {
  border-right: 1px solid #333;
}

label {
  display: block;
  padding: 8px 16px;
  min-width: 200px;
}

label:hover {
  background: rgb(185, 205, 185);
  color: #fff;
}

legend {
  font-weight: 600;
  color: #666;
  margin-left: 8px;
  padding: 0 8px;
}

fieldset {
  border: 1px solid rgb(185, 205, 185);
  background: #fff;
  border-radius: 4px;
  margin: 0 0 16px 0;
  padding: 0;
}

a {
  color: rgb(65, 105, 65);
}
