.trackButton {
  font-size: 14px;
  font-weight: normal;
  background: #00c851;
  border-radius: 10em;
  border: none;
  color: #fff;
  white-space: normal;
  padding: .5em 2em;
  margin: .5em auto;
  cursor: pointer;
}
