.trackButton {
  font-size: 14px;
  font-weight: normal;
  background: var(--primary-link-color);
  border-radius: 6em;
  border: 0;
  color: rgb(65, 105, 65);
  white-space: normal;
  padding: .3em 1.5em;
  cursor: pointer;
  display: inline-block;
}
