.interactiveGraph--container {
    display: flex;
    justify-content: space-between;
}

.interactiveGraph--menuBar {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.interactiveGraph--mainCol {
    width: 70%;
}


.interactiveGraph--symbolChooser {
    width: 40%;
  }
  