#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #efefef;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text-color: #efefef;
  --primary-link-color: #0dd9f8;
  --primary-border-color: #444;
  --spacing: 20px;
  --border-radius: 6px;
  --button-bg-color: #0dd9f8;
  --button-text-color: #000;
  --font-size: 16px;
}

/*
Akira: 
665F72
353234
323325
95525F
CEAF64

*/



body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

a {
  color: var(--primary-link-color);
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-border-color);
  margin: 0;
  padding: var(--spacing) var(--spacing) 8px;
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  padding: var(--spacing);
  border-top: 1px solid var(--primary-border-color);
}

button {
  background: var(--button-bg-color);
  border: 0;
  font-size: var(--font-size);
  padding: 6px 12px;
  border-radius: var(--border-radius);
  color: var(--button-text-color);
  font-weight: normal;
  white-space: normal;
  padding: .3em 1.5em;
  cursor: pointer;
  display: inline-block;
}

label {
  display: block;
  margin-bottom: 6px;
  padding: 0;
}

label.flex {
  display: flex;
  gap: var(--spacing) var(--spacing);
  align-items: center;
}
/* switch all this to flex */

label > span.fixedWidth {
 width: 15%;
}

input[type='text'] {
  padding: 6px var(--spacing);
  font-size: var(--font-size);
  max-width: 100%;
  border-radius: var(--border-radius);
  border: 0;
}

.logo {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  bottom: -10px;
}

.nav-item {
  display: inline-block;
  margin: 0 calc(var(--spacing) / 2);
  padding: 8px 12px;
  background: var(--primary-border-color);
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.grid-container {
  display: grid;
  gap: var(--spacing);
  margin: var(--spacing);
}

.grid-sidebar {
  grid-template-columns: 1fr 4fr;
}

.grid-columns {
  grid-auto-flow: column;
}

.notifications-container {
  position: absolute;
  right: var(--spacing);
}

.unauthenticated {
  padding: 20px;

  > h2 {
    margin: 0 0 8px;
    color: gold;
  }
  > h3 {
    margin: 0 0 8px;
  }
}
