#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  --font-size: 16px;
  --spacing: 20px;
  --border-radius: 6px;
}


.default {
  --primary-text-color: #efefef;
  --secondary-text-color: gold;
  --primary-link-color: #0dd9f8;
  --primary-link-color-hover: #fff;
  --primary-border-color: #444;
  --secondary-border-color: #CCC;
  --button-bg-color: #0dd9f8;
  --primary-bg-color: #000;
  --secondary-bg-color: #333;
  --button-text-color: #000;
  --body-bg-color: #242424;
  --input-bg-color: #000;
  --input-text-color: #efefef;
}


/*
Akira: 
665F72 - purple/gray
353234 - dark gray
323325 - darker gray, hint of brown
95525F - pink
CEAF64 - gold
*/

.akira {
  --font-size: 16px;
  --spacing: 20px;
  --border-radius: 6px;

  --primary-text-color: #353234;
  --secondary-text-color: #ceaf64;
  --primary-link-color: #95525F;
  --primary-link-color-hover: #323325;
  --primary-border-color: #ceaf64;
  --secondary-border-color: #323325;
  --primary-bg-color: #ceaf64;
  --button-bg-color: #95525F;
  --secondary-bg-color: #665F72;
  --button-text-color: #fff;
  --button-bg-color-hover: #fff;
  --button-text-color-hover: #95525F;
  --body-bg-color: #efefef;
  --input-bg-color: #fff;
  --input-text-color: var(--primary-text-color);
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-link-color-hover);
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-border-color);
  margin: 0;
  padding: var(--spacing) var(--spacing) 8px;
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  padding: var(--spacing);
  border-top: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .version {
  margin-left: 1rem;
  font-size: 0.75rem;
  color: var(--text-color);
  opacity: 0.5;
  font-family: monospace;
}

button {
  background: var(--button-bg-color);
  border: 0;
  font-size: var(--font-size);
  padding: 6px 12px;
  border-radius: var(--border-radius);
  color: var(--button-text-color);
  font-weight: normal;
  white-space: normal;
  padding: 0.3em 1.5em;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background: var(--button-bg-color-hover);
  color: var(--button-text-color-hover);
}

label {
  display: block;
  margin-bottom: 6px;
  padding: 0;
}

label.flex {
  display: flex;
  gap: var(--spacing) var(--spacing);
  align-items: center;
}
/* switch all this to flex */

label > span.fixedWidth {
  width: 15%;
}

input[type="text"] {
  padding: 6px var(--spacing);
  font-size: var(--font-size);
  max-width: 100%;
  border-radius: var(--border-radius);
  border: 0;
  background: var(--input-bg-color);
  color: var(--input-text-color);
}

.logo {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  bottom: -10px;
}

.nav-item {
  display: inline-block;
  margin: 0 calc(var(--spacing) / 2);
  padding: 8px 12px;
  background: var(--primary-border-color);
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.grid-container {
  display: grid;
  gap: var(--spacing);
  margin: var(--spacing);
}

.grid-sidebar {
  grid-template-columns: 1fr 4fr;
}

.grid-columns {
  grid-auto-flow: column;
}

.notifications-container {
  position: absolute;
  right: var(--spacing);
  z-index: 1;
}

.unauthenticated {
  padding: 20px;

  > h2 {
    margin: 0 0 8px;
    color: var(--secondary-text-color);
  }
  > h3 {
    margin: 0 0 8px;
    font-weight: 500;
  }
}
